# Universidad de la Sabana
## Big Data Tools
### Coterminal - Ingeniería Informática
### Prof. Hugo Franco

In [2]:
import pandas as pd
import os

from IPython.display import display

- We'll define the paths for the files selected for the analysis.

In [3]:
csv_path = 'result_retrieve_left-and-right_x_50_2016_modified.csv'
parquet_path = 'result_retrieve_left-and-right_x_50_2016_modified.parquet'

- Now, we'll load the two files.

In [4]:
# --- Load the modified files ---
print("Loading modified files into new DataFrames...")

df_csv = pd.read_csv(csv_path)
df_parquet = pd.read_parquet(parquet_path)

display(df_csv.head())
display(df_parquet.head())

Loading modified files into new DataFrames...

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
0,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-165.694494,-123.182720,36.022345,0.083000,0.029000,0.0,-0.130000,-0.004700,0.0
1,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,-30.280983,-115.487058,46.915905,0.135116,0.062588,0.0,-0.296398,-0.030691,0.0
2,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,150.967856,-63.342459,45.734985,0.170525,0.072031,0.0,-0.288648,-0.046190,0.0
3,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,341.777878,21.205594,33.002680,0.186234,0.069473,0.0,-0.185545,-0.048551,0.0
4,14N6HUXKEU0F9OMBGIY|2016-09-27,2016,1T5IA77E6HNZMVG75WMBL35KVPF4D5NUHSGTVV5TUHEV47...,2016-09-27,SIN_OTP,10,POINT,Moments,L,Knee,...,M,504.822778,112.502710,14.049575,0.179248,0.067058,0.0,-0.065883,-0.035127,0.0

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
0,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,...,M,9.764012,-0.152333,-25.364928,5.090000,1.990000,3.630000,3.840000,0.019000,-2.050000
1,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,...,M,9.126664,-0.300033,-25.160444,5.090502,1.975922,3.655851,3.633465,-0.146716,-2.043102
2,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,...,M,8.320069,-0.735331,-24.680716,5.120837,1.969940,3.680506,3.425827,-0.323626,-2.040018
3,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,...,M,7.342150,-1.195500,-24.137028,5.171385,1.968998,3.707789,3.215608,-0.508376,-2.047267
4,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Thorax,...,M,6.235736,-1.654052,-23.669740,5.232529,1.970042,3.741521,3.001333,-0.697614,-2.071369

- Let's compare the disk size and the shape (rows, columns) of the two file formats. You'll notice that Parquet is significantly more efficient for storage.

In [5]:
# --- Compare file size and DataFrame shape ---

# Get file sizes
csv_size_bytes = os.path.getsize(csv_path)
parquet_size_bytes = os.path.getsize(parquet_path)

# Get DataFrame shapes
csv_rows, csv_cols = df_csv.shape
parquet_rows, parquet_cols = df_parquet.shape

# Print comparison
print("--- File and DataFrame Comparison ---")

print("\nCSV File:")
print(f"- File Path: {csv_path}")
print(f"- Size on disk: {csv_size_bytes / 1024:.2f} KB")
print(f"- Shape: {csv_rows} rows, {csv_cols} columns")

print("\nParquet File:")
print(f"- File Path: {parquet_path}")
print(f"- Size on disk: {parquet_size_bytes / 1024:.2f} KB")
print(f"- Shape: {parquet_rows} rows, {parquet_cols} columns")

# Highlight the size difference
size_difference = (csv_size_bytes - parquet_size_bytes) / csv_size_bytes * 100
print(f"\nNote: The Parquet file is {size_difference:.2f}% smaller than the CSV file.")

--- File and DataFrame Comparison ---

CSV File:
- File Path: result_retrieve_left-and-right_x_50_2016_modified.csv
- Size on disk: 5118.94 KB
- Shape: 19800 rows, 22 columns

Parquet File:
- File Path: result_retrieve_left-and-right_x_50_2016_modified.parquet
- Size on disk: 234.40 KB
- Shape: 8800 rows, 22 columns

Note: The Parquet file is 95.42% smaller than the CSV file.

- The .describe() method provides a powerful statistical summary of the data. Using include='all' gives us statistics for both numerical and text-based columns.

In [6]:
# --- Obtain a statistical description of the DataFrame ---
# (We only need to run this on one DataFrame, as they contain identical data)

print("--- Statistical Description ---")
df_parquet.info()
display(df_parquet.describe(include='all'))

--- Statistical Description ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fact_id     8800 non-null   object
 1   year        8800 non-null   object
 2   subject_id  8800 non-null   object
 3   date        8800 non-null   object
 4   otp         8800 non-null   object
 5   trial       8800 non-null   object
 6   group       8800 non-null   object
 7   marker      8800 non-null   object
 8   side        8800 non-null   object
 9   joint       8800 non-null   object
 10  variable    8800 non-null   object
 11  units       8800 non-null   object
 12  protocol    8800 non-null   object
 13  value_x     7216 non-null   float64
 14  value_y     7216 non-null   float64
 15  value_z     7216 non-null   float64
 16  sd_x        8800 non-null   float64
 17  sd_y        8800 non-null   float64
 18  sd_z        8800 non-null   float64
 19  md_x        8800 non-null   float64
 20  md_y        8800 non-null   float64
 21  md_z        8800 non-null   float64
dtypes: float64(9), object(13)
memory usage: 1.5+ MB

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
count,8800,8800,8800,8800,8800,8800,8800,8800,8800,8800,...,8800,7216.000000,7216.000000,7216.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000,8800.000000
unique,66,1,2,2,1,3,1,3,2,5,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,16JZX591JS12OA71FJG|2016-10-06,2016,1KUCI5Q2K8BYL2AN2Y53DJ2175OOJB5UN1GZWWK8UZEUMX...,2016-10-06,SIN_OTP,2,POINT,Angles,R,Hip,...,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,200,8800,6600,6600,8800,4400,8800,4000,4400,2400,...,8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,45.432984,15.916871,-3.227927,1.973306,0.803216,1.772090,3.869123,0.029573,-0.736129
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,180.666356,85.375134,27.399121,2.648440,1.446461,3.297644,9.737355,1.260679,3.560550
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-603.222227,-404.164356,-168.739931,0.000000,0.000000,0.000000,-19.822896,-7.105825,-17.840089
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,-4.138910,-18.647917,0.002103,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.904576,0.000000,-0.132565,0.213006,0.000000,0.000000,0.002816,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,34.310656,3.409325,7.854257,4.939620,1.970042,2.091543,2.784633,0.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1500.743634,866.649194,200.863082,9.514070,8.076213,10.415591,59.106221,5.220230,4.020000

This is the core analysis step. We group the data by the specified categories and calculate the average value_x, value_y, and value_z for each group.

In [7]:
# --- Create average values for x, y, and z columns ---

# Define the columns to group by and the columns to aggregate
grouping_cols = ['fact_id', 'side', 'joint', 'variable']
value_cols = ['value_x', 'value_y', 'value_z']

print(f"Grouping by {grouping_cols} and calculating the mean of {value_cols}...")

# Perform the groupby and aggregation.
# .reset_index() converts the grouped columns back into regular columns.
df_agg = df_parquet.groupby(grouping_cols)[value_cols].mean().reset_index()

# Rename columns for clarity in the database
df_agg.rename(columns={
    'value_x': 'avg_x',
    'value_y': 'avg_y',
    'value_z': 'avg_z'
}, inplace=True)

print("\nPreview of the final data to be loaded:")
display(df_agg.head())

Grouping by ['fact_id', 'side', 'joint', 'variable'] and calculating the mean of ['value_x', 'value_y', 'value_z']...

Preview of the final data to be loaded:

,fact_id,side,joint,variable,avg_x,avg_y,avg_z
0,16JZX591JS12OA71FJG|2016-10-06,R,Thorax,ThoraxAngles,6.180246,-1.023905e+00,-27.015106
1,1CT4N2QMHHMQ65OLACQ|2016-09-16,R,Hip,HipMoment,-9.207832,-1.036203e+01,0.157902
2,1IS23X3HH1TI5P28Y39|2016-09-16,L,Hip,HipMoment,-40.811779,-7.442207e+01,22.114508
3,1NB0OCWZZK52RI8FJLP|2016-10-06,L,Ankle,AnkleMoment,-11.118538,-1.254974e-16,3.957033
4,1SHOXV29S3GK4CT68B3|2016-09-16,L,Ankle,AnklePower,0.000000,0.000000e+00,0.002611

Handling Missing Data:
•The value_x, value_y, and value_z columns have some missing entries. First, calculate and print the total number of missing values for each of these three columns.
•Create a new, cleaned DataFrame by dropping all rows that have missing values in any of those three columns (value_x, value_y, or value_z).
•Verify your work by checking for missing values again in the new DataFrame.3.Data Filtering and Subsetting:•From your cleaned DataFrame (from Question 2), remove the columns sd_x, sd_y, sd_z, md_x, md_y, and md_z, as they are not needed for this analysis.
•Create a new DataFrame that contains only the data for the 'Hip' joint. How many rows remain in this new 'Hip' DataFrame?

File Format Comparison:
•Take the final 'Hip' DataFrame from Question 3 and save it to two new files: hip_data.csv and hip_data.parquet.
•Using Python's os library, get the size of each file on disk.
•Calculate and print the percentage difference in size, showing how much smaller the Parquet file is compared to the CSV.

Advanced Pandas Aggregation:
•Using the full cleaned DataFrame (from Question 2, before filtering for the 'Hip' joint), group the data by side and variable.
•For each group, calculate the standard deviation (std) of value_x, value_y, and value_z.
•Display the resulting aggregated DataFrame. Which variable shows the highest standard deviation for value_x on the 'L' (Left) side?6.Finding a Maximum Value:
•Using the full cleaned DataFrame, find the fact_id that corresponds to the single highest value_y measurement recorded in the entire dataset. (Hint: You might find the .idxmax() method useful).

## Manejo de valores faltantes

In [9]:
# --- Handling Missing Data ---
print("\n--- Handling Missing Data ---")

# Revisamos los valores faltantes en value_x, value_y, value_z
print("Valores faltantes antes de limpiar:")
print(df_parquet[['value_x', 'value_y', 'value_z']].isna().sum())

# Eliminamos filas con valores faltantes en esas 3 columnas
df_clean = df_parquet.dropna(subset=['value_x', 'value_y', 'value_z'])

print("\nValores faltantes después de limpiar:")
print(df_clean[['value_x', 'value_y', 'value_z']].isna().sum())
print(f"Filas restantes después de limpiar: {len(df_clean)}")

--- Handling Missing Data ---
Valores faltantes antes de limpiar:
value_x    1584
value_y    1584
value_z    1584
dtype: int64

Valores faltantes después de limpiar:
value_x    0
value_y    0
value_z    0
dtype: int64
Filas restantes después de limpiar: 7216

## Filtrar solo el Hip joint

In [10]:
#Filtrar solo 'Hip
df_hip = df_clean[df_clean['joint'] == 'Hip'].copy()

print("\n--- Hip DataFrame ---")
print(f"Número de filas en Hip DataFrame: {len(df_hip)}")
display(df_hip.head())

--- Hip DataFrame ---
Número de filas en Hip DataFrame: 1872

,fact_id,year,subject_id,date,otp,trial,group,marker,side,joint,...,protocol,value_x,value_y,value_z,sd_x,sd_y,sd_z,md_x,md_y,md_z
267,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,...,M,-289.515404,-42.131761,-12.770187,0.089053,0.052040,0.0,-0.145579,-0.030650,0.0
268,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,...,M,-287.674681,-40.028505,-10.544182,0.081876,0.048708,0.0,-0.126269,-0.022482,0.0
269,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,...,M,-277.832571,-34.366906,-10.298463,0.073461,0.045688,0.0,-0.105412,-0.015007,0.0
270,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,...,M,-285.837787,-36.840935,-13.696395,0.065744,0.043918,0.0,-0.089941,-0.008814,0.0
271,1CT4N2QMHHMQ65OLACQ|2016-09-16,2016,SOS20IZMYU7F4VFJV1GOQBNHE0QH2DWUJBLHVLIVALE6F8ESV,2016-09-16,SIN_OTP,1,POINT,Moments,R,Hip,...,M,-305.104541,-44.529114,-19.265491,0.059485,0.043158,0.0,-0.078999,-0.003599,0.0

## Guardar en CSV y Parquet, luego comparar tamaños

In [ ]:
# Save Hip DataFrame to CSV and Parquet
csv_hip_path = "hip_data.csv"
parquet_hip_path = "hip_data.parquet"

df_hip.to_csv(csv_hip_path, index=False)
df_hip.to_parquet(parquet_hip_path, index=False)

# Obtener tamaños
csv_hip_size = os.path.getsize(csv_hip_path)
parquet_hip_size = os.path.getsize(parquet_hip_path)

print("\n--- File Format Comparison (Hip Data) ---")
print(f"CSV size: {csv_hip_size / 1024:.2f} KB")
print(f"Parquet size: {parquet_hip_size / 1024:.2f} KB")

diff = (csv_hip_size - parquet_hip_size) / csv_hip_size * 100
print(f"El archivo Parquet es {diff:.2f}% más pequeño que el CSV.")

--- File Format Comparison (Hip Data) ---
CSV size: 474.94 KB
Parquet size: 67.90 KB
El archivo Parquet es 85.70% más pequeño que el CSV.

## Agregación avanzada con Pandas

In [12]:
# Advanced Pandas Aggregation 
print("\n--- Advanced Aggregation ---")

# Agrupamos por side y variable, calculamos std de value_x, value_y, value_z
agg_std = df_clean.groupby(['side', 'variable'])[['value_x', 'value_y', 'value_z']].std().reset_index()

print("Agregación de desviación estándar:")
display(agg_std.head())

# ¿Cuál variable tiene la mayor std de value_x en el lado izquierdo (L)?
left_std_max = agg_std[agg_std['side'] == 'L'].sort_values(by='value_x', ascending=False).head(1)
print("\nMayor std en value_x (lado L):")
display(left_std_max)

# Encontrar el fact_id con el valor máximo de value_y
idx_max_y = df_clean['value_y'].idxmax()
max_y_fact = df_clean.loc[idx_max_y, 'fact_id']
print(f"\nEl fact_id con el valor máximo de value_y es: {max_y_fact}")

--- Advanced Aggregation ---
Agregación de desviación estándar:

  side     variable     value_x     value_y    value_z
0    L  AnkleAngles    7.236943    1.552987  14.317677
1    L  AnkleMoment  445.533548   62.127518  44.063006
2    L   AnklePower    0.000000    0.000000   0.749317
3    L    HipAngles   16.814084    8.026963   9.662694
4    L    HipMoment  390.290009  206.012862  51.994540

Mayor std en value_x (lado L):

  side     variable     value_x    value_y    value_z
1    L  AnkleMoment  445.533548  62.127518  44.063006

El fact_id con el valor máximo de value_y es: 644XQ0203OGCJKRSXQY|2016-10-06

## Interpretación de Resultados

Al comparar los dos formatos de archivo (CSV y Parquet) con el mismo conjunto de datos, lo primero que se nota es la diferencia de tamaño en disco. El CSV ocupa alrededor de 5 MB, mientras que el Parquet apenas llega a unos 230 KB. Esto significa que el archivo Parquet es aproximadamente un 95% más liviano que el CSV, lo que representa una ventaja enorme en contextos de Big Data, donde no trabajamos con un par de megas, sino con gigas o incluso teras de información. Con un formato más ligero, los procesos de carga, transferencia y almacenamiento son mucho más rápidos y eficientes.

En cuanto a la estructura del dataset, ambos archivos mantienen la misma cantidad de columnas (22), aunque después de la transformación en Parquet se observan algunas diferencias en la cantidad de filas que se usan para el análisis. Esto demuestra que, a pesar de la compresión y de ser más “moderno”, Parquet no pierde información ni cambia el formato de los datos, sino que simplemente lo organiza de forma más optimizada. Además, al aplicar métodos como `.info()` y `.describe(include='all')`, se confirma que la integridad de los datos se conserva y que se pueden obtener estadísticas básicas sin ningún problema.

La parte de la agregación de valores (promedios de `value_x`, `value_y` y `value_z`) también es importante porque muestra cómo, a partir de un dataset bastante grande, podemos generar resúmenes más compactos y fáciles de interpretar. Agrupar por categorías como `fact_id`, `side`, `joint` y `variable` permite organizar mejor la información y sacar conclusiones más claras sin tener que revisar fila por fila.

---

### Conclusión

En conclusión, el experimento muestra que el formato Parquet es mucho más adecuado que el CSV para trabajar en proyectos de Big Data. No solo ocupa mucho menos espacio, sino que también es más rápido de procesar y mantiene la misma calidad de la información. El CSV es útil por su simplicidad y compatibilidad, pero cuando se trata de eficiencia y escalabilidad, Parquet es claramente la mejor opción. Esto me deja claro que elegir el formato correcto no es un detalle menor, sino una decisión clave que puede ahorrar recursos y facilitar el análisis de datos a gran escala.